# API URL for production environment
NEXT_PUBLIC_API_URL=https://sua-api.onrender.com

# Set the Node environment to production
NODE_ENV=production

# Disable mock in production (use real API)
# Must be 'true' in production to use actual backend requests
# See .env.local.example for more information about this setting
NEXT_PUBLIC_DISABLE_MSW=true
