# API URL for production environment
NEXT_PUBLIC_API_URL=https://sua-api.onrender.com

# Set the Node environment to production
NODE_ENV=production

# Disable Mock Service Worker (MSW) in development environment
NEXT_PUBLIC_DISABLE_MSW=true
