# API URL for local development environment
NEXT_PUBLIC_API_URL=http://127.0.0.1:8000

# Set the Node environment to development
NODE_ENV=development

# Disable Mock Service Worker (MSW) in development environment
NEXT_PUBLIC_DISABLE_MSW=false
