# Environment
DJANGO_ENV=production

# Django settings
SECRET_KEY=generate-a-strong-secret-key-here
DEBUG=False

# Allowed hosts
ALLOWED_HOSTS=your-domain.com,www.your-domain.com

# CORS origins
CORS_ALLOWED_ORIGINS=https://your-frontend-domain.com

# Database URLs
# ALPHA and BETA are used to represent different clinics DBs. Both are used only for DEMO purpose.
CENTRAL_DATABASE_URL=postgresql://user:password@host:port/dbname
ALPHA_DB_URL=postgresql://user:password@host:port/alpha_db
BETA_DB_URL=postgresql://user:password@host:port/beta_db
